<h2>Show you are editing:
<%=@show.show_title%></h2><br>
<% if @error%>
<p class="error"><%= @error%></p>
<% end %>
<h3>Update Title:</h3>
<form method="post" action="/shows/<%=@show.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="show_title" value="<%= @show.show_title%>">
  <input type="submit" value="submit">
</form><br>

<p>Go back to your <a href="/shows">watchlist</a>.</p><br>