<h1>Welcome, CouchPotato!</h1><br>
<h4>Your Watchlist:</h4>
<% @shows.each do |show| %>
    <li><a href="/shows/<%= show.id %>"><%= show.show_title %></a></li>
<%end%><br><br>

<p>Add a new show <a href="/shows/new">here.</a></p>